@@ -1,4 +1,18 @@
__pycache__
bp_projects/__pycache__/projects.cpython-39.pyc
__init__.pyc
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# instance data, databases
volumes/sqlite.db
instance/volumes/sqlite.db

